<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda/panda.urdf.xacro"/>
  <xacro:include filename="$(find moveit_grasps)/robots/suction_hand.xacro"/>
  <xacro:suction_hand ns="$(arg arm_id)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_id)_link8"/>
</robot>
