<launch>
  <!-- Launch rviz.launch before running this demo to see visalizations -->

  <!-- Suction or two finger -->
  <arg name="gripper" value="two_finger" doc="must be one of 'suction' or 'two_finger'" />

  <!-- Debug -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Callgrind Arguments -->
  <arg name="callgrind" default="false" />
  <arg unless="$(arg callgrind)" name="launch_prefix2" value="" />
  <arg     if="$(arg callgrind)" name="launch_prefix2" value="valgrind --tool=callgrind --collect-atstart=no" />

  <!-- Valgrind Arguments -->
  <arg name="valgrind" default="false" />
  <arg unless="$(arg valgrind)" name="launch_prefix3" value="" />
  <arg     if="$(arg valgrind)" name="launch_prefix3" value="valgrind --tool=memcheck --leak-check=full --show-leak-kinds=all --track-origins=yes -v" />

  <!-- PANDA -->
  <include file="$(find moveit_grasps)/launch/load_panda.launch">
    <arg name="gripper" value="$(arg gripper)"/>
  </include>

  <!-- Start the demo -->
  <node name="moveit_grasps_demo" launch-prefix="$(arg launch_prefix) $(arg launch_prefix2) $(arg launch_prefix3)" pkg="moveit_grasps"
  type="moveit_grasps_grasp_poses_visualizer_demo" output="screen" args="">
    <param name="gripper" value="$(arg gripper)"/>
    <param name="ee_group_name" value="hand"/>
    <param name="planning_group_name" value="panda_arm"/>
    <rosparam command="load" file="$(find moveit_grasps)/config_robot/panda_grasp_data.yaml"/>
    <rosparam command="load" file="$(find moveit_grasps)/config/moveit_grasps_config.yaml"/>
  </node>

</launch>
