<launch>

  <!-- Launch rviz.launch before running this demo to see visalizations -->

  <!-- Debug -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Verbose mode -->
  <arg name="verbose" default="false" />
  <arg unless="$(arg verbose)" name="command_args" value="" />
  <arg     if="$(arg verbose)" name="command_args" value="--verbose" />

  <!-- PANDA -->
  <include file="$(find moveit_grasps)/launch/load_panda.launch">
  </include>

  <!-- Start the demo -->
  <node name="moveit_grasps_demo" launch-prefix="$(arg launch_prefix)" pkg="moveit_grasps"
  type="moveit_grasps_grasp_filter_demo" output="screen" args="$(arg command_args)">
    <param name="ee_group_name" value="hand"/>
    <param name="planning_group_name" value="panda_arm"/>
    <param name="moveit_grasps/filter/statistics_verbose" value="true"/>
    <param name="moveit_grasps/filter/show_filtered_grasps" value="true"/>
    <param name="moveit_grasps/filter/show_cutting_planes" value="true"/>
    <param name="moveit_grasps/filter/show_grasp_filter_collision_if_failed" value="true"/>
    <param name="moveit_grasps/filter/show_filtered_arm_solutions" value="true"/>
    <rosparam command="load" file="$(find moveit_grasps)/config_robot/panda_grasp_data.yaml"/>
    <rosparam command="load" file="$(find moveit_grasps)/config/moveit_grasps_config.yaml"/>
  </node>

</launch>
