<launch>

  <!-- Suction or two finger -->
  <arg name="gripper" default="suction" doc="must be one of 'suction' or 'two_finger'" />

  <!-- PANDA -->
  <include file="$(find moveit_grasps)/launch/panda_planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="gripper" value="$(arg gripper)"/>
  </include>

  <!-- We do not have a robot connected, so publish fake joint states -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world panda_link0"/>

</launch>
