<launch>

  <!-- Launch grap_test_rviz.launch to visualize this test -->

  <!-- Debug -->  
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Verbose mode -->
  <arg name="verbose" default="false" />
  <arg unless="$(arg verbose)" name="command_args" value="" />
  <arg     if="$(arg verbose)" name="command_args" value="--verbose" />

  <!-- Choose robot and arm -->
  <arg name="jacob" default="false" />
  <arg name="baxter" default="false" />
  <arg name="hand" default="false" />
  <group ns="moveit_grasps_filter_test">
    <include file="$(find moveit_grasps)/launch/robots/load_jacob.launch" if="$(arg jacob)"/>
    <include file="$(find moveit_grasps)/launch/robots/load_baxter.launch" if="$(arg baxter)"/>
  </group>

  <!-- Start the test -->
  <node name="moveit_grasps_filter_test" launch-prefix="$(arg launch_prefix)" pkg="moveit_grasps" 
	type="moveit_grasps_filter_test" output="screen" args="$(arg command_args)"/>

</launch>
